In [1]:
import pandas as pd
import numpy as np
#设置列不限制数量
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows',None)

强调：
1.注意这里的路径，要用“/”，而不能用“\”
2.使用相对路径时，一定要和代码在同一个文件夹下面，利于寻找
3.Python代码中的注释，一定要和Jupyter Notebook中的Markdown结合起来使用

In [2]:
import chardet

def check_encoding(filename):
    rawdata = open(filename, 'rb').read()
    result = chardet.detect(rawdata)
    encoding = result['encoding']
    confidence = result['confidence']
    return encoding, confidence

file_path = 'C:/Users/谷一诺/Desktop/python/000001.csv'# 添加文件路径
encoding, confidence = check_encoding(file_path)
print(f"Encoding: {encoding}, Confidence: {confidence} - python作业1.ipynb:12")

Encoding: ascii, Confidence: 1.0 - python作业1.ipynb:12

In [7]:
import pandas as pd
import numpy as np
# 本单元格是导入数据的代码
data = pd.read_csv('C:/Users/谷一诺/Desktop/python/000001.csv') # 这一句是导入CSV文件的命令
data # 让我看看数据是什么样子

             Day  Preclose      Open   Highest    Lowest     Close
0     1990/12/19              96.050    99.980    95.790    99.980
1     1990/12/20     99.98   104.300   104.390    99.980   104.390
2     1990/12/21    104.39   109.070   109.130   103.730   109.130
3     1990/12/24    109.13   113.570   114.550   109.130   114.550
4     1990/12/25    114.55   120.090   120.250   114.550   120.250
...          ...       ...       ...       ...       ...       ...
8468   2025/8/25  3825.759  3848.163  3883.562  3839.972  3883.562
8469   2025/8/26  3883.562  3871.471  3888.599  3859.758  3868.382
8470   2025/8/27  3868.382  3869.612  3887.198  3800.350  3800.350
8471   2025/8/28   3800.35  3796.711  3845.087  3761.422  3843.597
8472   2025/8/29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 6 columns]

运行前要先输入pd的定义
Jupyter Notebook默认只输出或者打印最后一行命令，如果你需要所有中间步骤的结果都输出的话，需要添加如下的代码

In [ ]:
from IPython.core.interactiveshell import InteractiveShell  # 导入Jupyter交互式Shell的核心模块

# 设置Jupyter Notebook的输出模式为'all'，这样每个单元格中所有语句的结果都会被依次输出（默认只输出最后一个表达式的结果）
InteractiveShell.ast_node_interactivity = 'all'

In [8]:
data = pd.read_csv('C:/Users/谷一诺/Desktop/python/000001.csv') # 这一句是导入CSV文件的命令
data
print(data)

             Day  Preclose      Open   Highest    Lowest     Close
0     1990/12/19              96.050    99.980    95.790    99.980
1     1990/12/20     99.98   104.300   104.390    99.980   104.390
2     1990/12/21    104.39   109.070   109.130   103.730   109.130
3     1990/12/24    109.13   113.570   114.550   109.130   114.550
4     1990/12/25    114.55   120.090   120.250   114.550   120.250
...          ...       ...       ...       ...       ...       ...
8468   2025/8/25  3825.759  3848.163  3883.562  3839.972  3883.562
8469   2025/8/26  3883.562  3871.471  3888.599  3859.758  3868.382
8470   2025/8/27  3868.382  3869.612  3887.198  3800.350  3800.350
8471   2025/8/28   3800.35  3796.711  3845.087  3761.422  3843.597
8472   2025/8/29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 6 columns]

加入上一段代码后，成功打印

了解时间序列数据的格式 Time-Series Data 以及 数据框 Dataframe的基本知识

选择某一列，有两种区别

In [9]:
data['Day']

0       1990/12/19
1       1990/12/20
2       1990/12/21
3       1990/12/24
4       1990/12/25
           ...
8468     2025/8/25
8469     2025/8/26
8470     2025/8/27
8471     2025/8/28
8472     2025/8/29
Name: Day, Length: 8473, dtype: object

In [10]:
data[['Day']]

             Day
0     1990/12/19
1     1990/12/20
2     1990/12/21
3     1990/12/24
4     1990/12/25
...          ...
8468   2025/8/25
8469   2025/8/26
8470   2025/8/27
8471   2025/8/28
8472   2025/8/29

[8473 rows x 1 columns]

In [11]:
type(data['Day'])

pandas.core.series.Series

In [13]:
type(data[['Day']])

pandas.core.frame.DataFrame

In [12]:
data[['Day']]

             Day
0     1990/12/19
1     1990/12/20
2     1990/12/21
3     1990/12/24
4     1990/12/25
...          ...
8468   2025/8/25
8469   2025/8/26
8470   2025/8/27
8471   2025/8/28
8472   2025/8/29

[8473 rows x 1 columns]

如何选择多列

In [14]:
data[['Day','Close']]

             Day     Close
0     1990/12/19    99.980
1     1990/12/20   104.390
2     1990/12/21   109.130
3     1990/12/24   114.550
4     1990/12/25   120.250
...          ...       ...
8468   2025/8/25  3883.562
8469   2025/8/26  3868.382
8470   2025/8/27  3800.350
8471   2025/8/28  3843.597
8472   2025/8/29  3857.927

[8473 rows x 2 columns]

如何选择行？
按照行数

In [15]:
# 该代码用于选择data数据框中的第0行到第6行（共7行），即通过切片操作选取前7行数据。
data[0:7]

          Day  Preclose    Open  Highest  Lowest   Close
0  1990/12/19             96.05    99.98   95.79   99.98
1  1990/12/20     99.98  104.30   104.39   99.98  104.39
2  1990/12/21    104.39  109.07   109.13  103.73  109.13
3  1990/12/24    109.13  113.57   114.55  109.13  114.55
4  1990/12/25    114.55  120.09   120.25  114.55  120.25
5  1990/12/26    120.25  125.27   125.27  120.25  125.27
6  1990/12/27    125.27  125.27   125.28  125.27  125.28

In [23]:
# 该代码使用 iloc 按照行号和列号进行数据选择。
# data.iloc[0:6, 0:7] 表示选取 data 数据框的第 0 行到第 5 行（共 6 行），
# 以及第 0 列到第 6 列（共 7 列）的数据。
data.iloc[0:6,0:7] #按行列号访问

            Preclose    Open  Highest  Lowest   Close
Day
1990-12-19             96.05    99.98   95.79   99.98
1990-12-20     99.98  104.30   104.39   99.98  104.39
1990-12-21    104.39  109.07   109.13  103.73  109.13
1990-12-24    109.13  113.57   114.55  109.13  114.55
1990-12-25    114.55  120.09   120.25  114.55  120.25
1990-12-26    120.25  125.27   125.27  120.25  125.27

In [17]:
# 该代码通过 data.at[2, 'Open'] 实现了对 DataFrame 中第 2 行（索引为 2）且列名为 'Open' 的单元格的访问，返回该位置的具体数值。at 适用于通过“行标签+列标签”快速定位单个元素，效率较高。
data.at[2,'Open'] # 按行索引，列名访问

109.07

按照时间

In [18]:
# 将'Day'列从字符串格式转换为日期时间格式
# pd.to_datetime() 函数用于将字符串转换为datetime对象
# format='%Y/%m/%d' 指定了输入日期的格式：年/月/日（如1990/12/19）
data['Day'] = pd.to_datetime(data['Day'],format = '%Y/%m/%d')
data

            Day  Preclose      Open   Highest    Lowest     Close
0    1990-12-19              96.050    99.980    95.790    99.980
1    1990-12-20     99.98   104.300   104.390    99.980   104.390
2    1990-12-21    104.39   109.070   109.130   103.730   109.130
3    1990-12-24    109.13   113.570   114.550   109.130   114.550
4    1990-12-25    114.55   120.090   120.250   114.550   120.250
...         ...       ...       ...       ...       ...       ...
8468 2025-08-25  3825.759  3848.163  3883.562  3839.972  3883.562
8469 2025-08-26  3883.562  3871.471  3888.599  3859.758  3868.382
8470 2025-08-27  3868.382  3869.612  3887.198  3800.350  3800.350
8471 2025-08-28   3800.35  3796.711  3845.087  3761.422  3843.597
8472 2025-08-29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 6 columns]

In [19]:
# 使用help()函数查看sort_values方法的详细帮助信息
# help()函数可以显示任何Python对象、函数或方法的文档字符串
# 这对于初学者了解函数参数和用法非常有用
help(data.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by: 'IndexLabel', *, axis: 'Axis' = 0, ascending: 'bool | list[bool] | tuple[bool, ...]' = True, inplace: 'bool' = False, kind: 'SortKind' = 'quicksort', na_position: 'str' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc | None' = None) -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
    by : str or list of str
        Name or list of names to sort by.

        - if `axis` is 0 or `'index'` then `by` may contain index
          levels and/or column labels.
        - if `axis` is 1 or `'columns'` then `by` may contain column
          levels and/or index labels.
    axis : "{0 or 'index', 1 or 'columns'}", default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.
    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...     by="time",
    ...     key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

In [20]:
# 按照'Day'列对数据进行升序排序（即日期从旧到新）
# by=['Day'] 指定按'Day'列排序
# ascending=True 表示升序排列（False表示降序）
data = data.sort_values(by=['Day'],ascending=True)
data

            Day  Preclose      Open   Highest    Lowest     Close
0    1990-12-19              96.050    99.980    95.790    99.980
1    1990-12-20     99.98   104.300   104.390    99.980   104.390
2    1990-12-21    104.39   109.070   109.130   103.730   109.130
3    1990-12-24    109.13   113.570   114.550   109.130   114.550
4    1990-12-25    114.55   120.090   120.250   114.550   120.250
...         ...       ...       ...       ...       ...       ...
8468 2025-08-25  3825.759  3848.163  3883.562  3839.972  3883.562
8469 2025-08-26  3883.562  3871.471  3888.599  3859.758  3868.382
8470 2025-08-27  3868.382  3869.612  3887.198  3800.350  3800.350
8471 2025-08-28   3800.35  3796.711  3845.087  3761.422  3843.597
8472 2025-08-29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 6 columns]

In [21]:
# 将'Day'列设置为数据框的索引
# set_index() 函数用于将指定列设置为DataFrame的索引
# inplace=True 表示直接在原数据框上进行修改，不创建新的数据框
# 设置索引后，可以通过日期直接访问对应的行数据
data.set_index('Day', inplace = True)
data

            Preclose      Open   Highest    Lowest     Close
Day
1990-12-19              96.050    99.980    95.790    99.980
1990-12-20     99.98   104.300   104.390    99.980   104.390
1990-12-21    104.39   109.070   109.130   103.730   109.130
1990-12-24    109.13   113.570   114.550   109.130   114.550
1990-12-25    114.55   120.090   120.250   114.550   120.250
...              ...       ...       ...       ...       ...
2025-08-25  3825.759  3848.163  3883.562  3839.972  3883.562
2025-08-26  3883.562  3871.471  3888.599  3859.758  3868.382
2025-08-27  3868.382  3869.612  3887.198  3800.350  3800.350
2025-08-28   3800.35  3796.711  3845.087  3761.422  3843.597
2025-08-29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 5 columns]

In [22]:
# 使用时间范围筛选数据，获取1995年12月到2000年4月的数据
# 当'Day'列被设置为索引后，可以直接使用日期范围进行筛选
# '1995-12':'2000-04' 表示从1995年12月开始到2000年4月结束的时间范围
# 这种筛选方式对于时间序列数据分析非常有用
data['1994-12':'2004-04']

           Preclose     Open  Highest   Lowest    Close
Day
1994-12-01   683.59   684.02   684.72   680.00   682.30
1994-12-02    682.3   684.18   685.47   677.60   677.91
1994-12-05   677.91   674.54   675.42   662.72   663.13
1994-12-06   663.13   658.94   658.94   648.72   653.98
1994-12-07   653.98   655.14   658.57   651.37   652.85
...             ...      ...      ...      ...      ...
2004-04-26   1635.5  1633.27  1644.50  1623.05  1635.50
2004-04-27   1635.5  1636.44  1640.69  1608.81  1611.86
2004-04-28  1611.86  1606.42  1615.14  1589.10  1606.80
2004-04-29   1606.8  1605.30  1613.56  1578.09  1579.45
2004-04-30  1579.45  1579.97  1599.56  1572.23  1595.59

[2283 rows x 5 columns]